@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("woff");
}
@font-face {
  font-weight: 600;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf") format("woff");
}
* {
  box-sizing: border-box;
  font-family: Roboto, san-serif;
  font-size: 18px;
  line-height: 1.5;
}

body, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  min-width: 340px;
}

ul, li {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 1240px) {
  .container {
    padding: 0 20px;
  }
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: 700;
}

.text-main {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.banner {
  padding: 200px 0;
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.banner-form {
  display: inline-block;
  margin-top: 17px;
}
@media (max-width: 800px) {
  .banner-form {
    display: flex;
    flex-direction: column;
  }
}

.banner-form__input {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  border: solid 2px #cacaca;
  border-radius: 3px;
  outline: none;
  background: transparent;
  color: white;
}
.banner-form__input::placeholder {
  color: white;
}
.banner-form__input:first-child {
  margin-right: 24px;
}
@media (max-width: 800px) {
  .banner-form__input:first-child {
    margin-right: 0;
  }
}

.banner-form__btn {
  display: block;
  width: 100%;
  padding: 20px 30px;
  background: #34c176;
  color: white;
  font-size: 13px;
  line-height: 15px;
}

.header {
  position: absolute;
  top: 25px;
  width: 100%;
}

.header__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
@media (max-width: 800px) {
  .header__container {
    flex-direction: column;
    align-items: start;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo__image {
  width: 24px;
  height: 24px;
}

.logo__text {
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
  margin-left: 16px;
  text-transform: uppercase;
  color: white;
}

.header__nav {
  margin-left: 90px;
}
@media (max-width: 800px) {
  .header__nav {
    margin-left: 0;
    margin-top: 17px;
    margin-bottom: 18px;
  }
}

.header__nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 320px;
  padding-bottom: 3px;
}
@media (max-width: 800px) {
  .header__nav-list {
    flex-direction: column;
    align-items: start;
  }
}

.header__nav-link {
  text-decoration: none;
  color: #cacaca;
  font-size: 11px;
  line-height: 16.5px;
  text-transform: uppercase;
}
.header__nav-link_current {
  color: white;
}

.header__search {
  margin-left: auto;
}
@media (max-width: 800px) {
  .header__search {
    margin-left: 0;
    width: 100%;
  }
}

.search__input {
  outline: none;
  width: 248px;
  padding: 5px 0 5px 10px;
  border-radius: 50px;
  border: none;
  background: #3c3b3d;
  color: #757575;
}
.search__input::placeholder {
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .search__input {
    width: 100%;
  }
}

.pricing {
  padding-top: 100px;
  background: #08020d;
  color: white;
}

.subscription-plans {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .subscription-plans {
    flex-direction: column;
    margin-top: 45px;
  }
}

.subscription-plan {
  width: calc(33% - 33.3px);
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}
.subscription-plan:first-child {
  background-image: url(../images/subscribe_1.png);
}
.subscription-plan:nth-child(2) {
  background-image: url(../images/subscribe_2.png);
}
.subscription-plan:nth-child(3) {
  background-image: url(../images/subscribe_3.png);
}
@media (max-width: 800px) {
  .subscription-plan {
    width: 100%;
    margin-bottom: 50px;
  }
  .subscription-plan:last-child {
    margin-bottom: 0;
  }
}

.subscription-plan__price {
  margin-top: 200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
}

.subscription-plan__price-number {
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-right: 16px;
}

.subscription-plan__price-currency {
  font-size: 32px;
  line-height: 78px;
  font-weight: 400;
}

.subscription-plan__subscribe {
  width: 100%;
  padding: 20px 30px;
  background: transparent;
  border: 1px solid #FFFFFF;
  color: white;
  margin-top: 40px;
  margin-bottom: 64px;
}

.subscription-plan__explanation {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 64px;
}

.pricing__explanation {
  margin-top: 40px;
  text-align: center;
}
@media (max-width: 800px) {
  .pricing__explanation {
    font-size: 12px;
    line-height: 19px;
  }
}

.news {
  background: #08020d;
  color: white;
  padding-top: 100px;
}

.news-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 65px;
}
.news-item:last-child {
  margin-bottom: 0;
}
.news-item:nth-child(2n) .new-item__image {
  order: 2;
}
@media (max-width: 800px) {
  .news-item:nth-child(2n) .new-item__image {
    order: 0;
  }
}
@media (max-width: 800px) {
  .news-item {
    flex-direction: column;
    margin-bottom: 64px;
  }
  .news-item:last-child {
    margin-bottom: 0;
  }
}

.new-item__image, .news-item__body {
  width: calc(50% - 25px);
}
@media (max-width: 800px) {
  .new-item__image, .news-item__body {
    width: 100%;
  }
}

.news-item__body {
  text-align: left;
}

.news-item__info {
  margin-top: 24px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.news-item__info-picture {
  width: 19px;
  height: 19px;
}

.news-item__info-author {
  margin: 0 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-transform: capitalize;
  color: #F89202;
}

.news-item__info-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #cacaca;
}

.news-item__btn {
  text-decoration: none;
  color: #cacaca;
  border: 1px solid #cacaca;
  padding: 20px 30px;
}

.page-app {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #08020d;
  color: white;
}

.page-app__body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .page-app__body {
    flex-direction: column;
  }
}

.page-app__content, .page-app__image {
  width: calc(50% - 70px);
}
@media (max-width: 960px) {
  .page-app__content, .page-app__image {
    width: 100%;
  }
}

.page-app__content {
  min-width: 600px;
  text-align: left;
  padding-top: 15px;
}
@media (max-width: 960px) {
  .page-app__content {
    min-width: 100%;
    order: 2;
  }
}

.page-app__btn {
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
  background: #95390c;
  margin-top: 16px;
  color: white;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  color: white;
}

.footer__columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media (max-width: 800px) {
  .footer__columns {
    flex-direction: column;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .footer__column {
    margin-bottom: 30px;
  }
  .footer__column:last-child {
    margin-bottom: 0;
  }
}

.footer__header {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__link {
  color: #cacaca;
  text-decoration: none;
}

.footer__text {
  color: #cacaca;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .social {
    justify-content: start;
  }
}

@media (max-width: 800px) {
  .social-item {
    margin-right: 24px;
  }
  .social-item:last-child {
    margin-right: 0;
  }
}

.footer__line {
  border: 1px solid #cacaca;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
@media (max-width: 800px) {
  .footer__nav {
    flex-direction: column;
  }
}

.footer__nav-item {
  margin-right: 16px;
}
.footer__nav-item:last-child {
  margin-right: 0;
}
@media (max-width: 800px) {
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .footer__nav-item:last-child {
    margin-bottom: 0;
  }
}

.descirption {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/Morten\ Harket.png);
  background-position: center;
  background-size: cover;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.descirption__btns {
  margin-top: 69px;
  display: flex;
  flex-direction: row;
  align-items: middle;
}
@media (max-width: 800px) {
  .descirption__btns {
    flex-direction: column;
    margin-top: 45px;
  }
}

.descirption__btn {
  width: 200px;
  padding: 20px 30px;
  text-transform: uppercase;
  margin-right: 1.5rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.descirption__btn:last-child {
  margin-right: 0;
}
.descirption__btn_purple {
  background: #5328a1;
}
.descirption__btn_red {
  background: #95390c;
}
@media (max-width: 800px) {
  .descirption__btn {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .descirption__btn:last-child {
    margin-bottom: 0;
  }
}

.descirption__btn-image {
  width: 20px;
  height: 20px;
  margin-right: 21px;
}

.descirption__btn-text {
  font-size: 12.8px;
}

.tracks {
  padding-top: 100px;
  background: #08020d;
  color: white;
}

.trecks-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 48px;
}
@media (max-width: 800px) {
  .trecks-list {
    flex-direction: column;
  }
}

.track {
  width: calc(50% - 25px);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.track:nth-last-child(2) {
  margin-bottom: 0;
}
@media (max-width: 800px) {
  .track:nth-last-child(2) {
    margin-bottom: 25px;
  }
}
@media (max-width: 800px) {
  .track {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .track:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.track__image {
  width: 55px;
  height: 55px;
}

.track__desc {
  margin-left: 15px;
}

.track__desc-name, .track__desc-author, .track__time {
  font-size: 12.8px;
  line-height: 19.2px;
  margin: 0;
}

.track__desc-name {
  font-weight: bold;
  text-transform: uppercase;
}

.track__desc-author, .track__time {
  font-weight: 400;
}

.track__time {
  margin-left: auto;
}

.discography {
  padding-top: 100px;
  color: white;
  background: #08020d;
}

.discography-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px 50px;
}
@media (max-width: 1170px) {
  .discography-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 960px) {
  .discography-list {
    grid-template-columns: 1fr 1fr;
  }
}

.discography-list__image {
  max-width: 250px;
  max-height: 250px;
}
@media (max-width: 800px) {
  .discography-list__image {
    max-width: 137px;
    max-height: 137px;
  }
}

.discography-list__author {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
