.descirption{
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/Morten\ Harket.png);
  background-position: center;
  background-size: cover;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.descirption__btns{
  margin-top: 69px;
  display: flex;
  flex-direction: row;
  align-items: middle;
  @include tablet{
    flex-direction: column;
    margin-top: 45px;
  }
}
.descirption__btn {
  width: 200px;
  padding: 20px 30px;
  text-transform: uppercase;
  margin-right: 1.5rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:last-child{
    margin-right: 0;
  }
  &_purple {
    background: $purple;
  }
  &_red{
    background: $red;
  }
  @include tablet {
    margin-right: 0;
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.descirption__btn-image{
  width: 20px;
  height: 20px;
  margin-right: 21px;
}
.descirption__btn-text{
  font-size: 12.8px;
}
