*{
  box-sizing: border-box;
  font-family: Roboto, san-serif;
  font-size: 18px;
  line-height: 1.5;
}
body, p,ul, li {
  margin: 0;
  padding: 0;
}
ul, li{
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  @media  (max-width: 1240px) {
    padding: 0 20px;
  }
}
h1{
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
  @include mobile{
    font-size: 30px;
    line-height: 45px;
  }
}
h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
  @include mobile{
    font-size: 18px;
    line-height: 27px;
  }
}
h3{
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
.text-main{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.btn{
  outline: none;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}